<!--user_signed_in?はDeviseを入れることで使えるようになるヘルパーメソッド -->

<% if user_signed_in? %>   <!--もしユーザーがサインインしていれば、サインアウトリンクを表示させる-->

  <%= link_to "サインアウト", destroy_user_session_path, method: :delete %>
<% end %>

<p>このページは仮のトップページです。</p>
<%= link_to "仮のボタンです", "#", class: "btn btn-primary" %>